<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='message.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <title>Success!</title>
</head>
<body>
    <div class="header">
        <a class="button" href="{{ url_for('home') }}">Home</a>
    </div>
    <h1 class="message" >Operation successful! Database updated.</h1>
</body>
</html>